* {
	color: white;
}

body {
	background-color: black;
}

hr {
	background-color: white;
	height: 3px;
}

h1 {
	font-family: Georgia;
	font-weight: bold;
}

button {
	margin-right: 15px;
}

.modal-body, .modal-footer, strong  {
	color: black;
}

#modalDadosNotFoundLongTitle, #modalVazioLongTitle, #modalDadosNaoAtualizadosLongTitle {
  color: red;
}

#modalDadosAtualizadosLongTitle {
	color: green;
}

#dados {
	display: none;
}