#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.box-div {  
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
}

.ativado {
  border-bottom: 3px solid #33cccc;
}

.header-div {
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.header-div:hover {
  border-bottom: 3px solid white;
  font-weight: bold;
  cursor: pointer;
}

body {
  color: white;
  font-size: 17px;
}

.box-cadastro {
  text-align: center;
  border: 1px groove white;
}

.box-titulo {
  height: auto;
  text-align: center;
}

.titulo {
  font-size: 48px;
  font-family: Verdana;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

#inputSenha {
  width: 50%;
  margin-left: 25%;
  font-size: 18px;
}

#inputSenhaNov {
  width: 50%;
  margin-left: 25%;
  font-size: 18px;
}

#inputEmail {
  width: 50%;
  margin-left: 25%;
  font-size: 18px;
}

p {
  font-family: Verdana;
  font-size: 20px;
}

.fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

a > .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.rodape {
  border-bottom: groove;
  height: auto;
  text-align: center;
  font-size: 17px;
  left: 0;
  bottom: 0;
  width: 100%;
}

a {
  color: #33cccc;
  font-size: 24px;
}

a:hover {
  color: white;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

.fa-address-card-o {
  margin: 0 auto;
  padding: 0px;
  font-size: 52px;
  color: #f2f2f2;
}

.mobile-icon {
  padding: 0px;
  margin: 0 auto;
  font-size: 30px;
}

.box-pequena {
  display: none;
}

.box-grande {
  display: block;
}

.modal-body {
  color: black;
}

#modalEmailInvalidLongTitle, #modalEmailRepeatedLongTitle,
#modalSenhasDiferentesLongTitle, #modalSenhaPequenaLongTitle,
#modalSenhaSegurancaLongTitle, #modalCadastroFalhaLongTitle {
  color: red;
}

#modalCadastroSucessoLongTitle {
  color: green;
}

.modal-footer {
  margin: 0 auto;
}

@media only screen and (max-width: 575px) {
  .fa {
    padding: 10px;
  }

  .rodape {
    font-size: 14px;
  }

  .titulo {
    font-size: 32px;
    font-family: Verdana;
    text-shadow: 0 0 3px black, 0 0 5px black;
  }

  #inputSenha {
    width: 75%;
    margin-left: 12.5%;
    font-size: 16px;
  }

  #inputSenhaNov {
    width: 75%;
    margin-left: 12.5%;
    font-size: 16px;
  }

  #inputEmail {
    width: 75%;
    margin-left: 12.5%;
    font-size: 16px;
  }

  a {
    font-size: 18px;
  }

  .box-pequena {
    display: block;
  }

  .box-grande {
    display: none;
  }

  .header-div {
    width: 25%;
  }
}